<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
    
                <div class="input-group">
                    {% if user.is_authenticated %}
                    <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer.id %}">Add Review</a>
                        <!-- Display user's first name or username -->
                        <span class="navbar-text">{{ user.username }}</span>
    
                        <!-- Signout button/link -->
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
    
                        <!-- Add any other authenticated user-specific items here -->
                    {% else %}
                        <!-- Login and Signup form -->
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}   
                            <input type="text" class="form-control" placeholder="Username" name="username">
                            <input type="password" class="form-control" placeholder="Password" name="psw">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>  
                        
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    {% endif %}
    
                    <!-- Common navigation item -->
                    <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
                </div>
    
            </ul>
        </div>
    </nav>

    <div class="container ml-auto">
        <h1 class="mt-5">Add Review for {{ dealer.full_name }}</h1>
    
        <form method="post" action="{% url 'djangoapp:add_review' dealer_id=dealer.id %}">
            {% csrf_token %}
    
            <div class="form-group">
                <label for="car">Select your Car:</label>
                <select class="form-select" name="car" id="dealer_id" required>
                    {% for car in cars %}
                        <option value="{{ car.id }}">{{ car.name }} - {{ car.make.name }} - {{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="form-group col-md-8">
                <label for="content">Enter the review content:</label>
                <textarea class="form-control" name="content" id="content" rows="1" required></textarea>
            </div>
    
            <div class="form-group col-md-12">
                <div class="form-check form-check-inline ml-2">
                    <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                </div>
                <label class="form-check-label d-inline" for="purchasecheck">Has purchased the car from {{ dealer.full_name }} </label> <p class="grey d-inline" > (select purchased car information below if checked) </p>
    
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label for="purchasedate">Select your purchase Date:</label>
                <div class="input-group date">
                    <input type="text" class="form-control datepicker" name="purchasedate" autocomplete="off" required>
                </div>
            </div>
        </div>
    
            <input type="submit" class="btn btn-primary" value="Submit Review">
        </form>
    </div>
    
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

    </body>

</html>